@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Parisienne&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Radio Canada Big";
  /* font-family: "Glass Antiqua"; */
  animation: slide-down 600ms ease-in-out;
}

/* GLOBAL REUSABLE ANIMATIONS AND CLASSES */
.italic-title {
  font-family: "Parisienne";
}

.button {
  @apply bg-black border-2 border-black text-white py-2 px-6 hover:bg-transparent hover:text-black duration-300;
}

.button-transparent {
  @apply bg-white border-2 border-black text-black py-2 px-6 hover:bg-black hover:text-white duration-300;
}

.animate-slide-down {
  animation: slide-down 500ms ease-in-out;
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.animate-slide-up {
  animation: slide-up 500ms ease-in-out;
}
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* NAVBAR */
.nav-link {
  @apply py-2 px-4 min-w-[80px]  text-gray-700 m-1 border-2 border-transparent hover:border-[#C7AE48] hover:text-[#a08c39] duration-300 cursor-pointer animate-slide-down text-center rounded-lg;
}

/* HOME PAGE */
.video-mask {
  background: transparent;
  pointer-events: auto;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  z-index: 10;
}

video {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: auto;
  overflow: hidden;
}

.animated-text {
  animation: slideUp 5s ease-in-out;
  text-shadow: 0 0 0.4em black;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(120%);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  80% {
    opacity: 0;
  }
}

.bg-pattern {
  background-color: #1a1a1a;
}

/* .bg-pattern::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(255, 255, 255, 0.05) 25%,
      rgba(255, 255, 255, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 0.05) 75%,
      rgba(255, 255, 255, 0.05) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(255, 255, 255, 0.05) 25%,
      rgba(255, 255, 255, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 0.05) 75%,
      rgba(255, 255, 255, 0.05) 76%,
      transparent 77%,
      transparent
    );
  background-size: 50px 50px;
  pointer-events: none;
  opacity: 0.4;
} */

/* LOGIN */
.input {
  @apply bg-gray-100 p-2 border-2 border-gray-300 rounded-lg duration-300 hover:border-gray-400 focus:border-gray-400 outline-none text-gray-600;
}

/* BLOG */
/* .shadow-inset-white {
  /* box-shadow: 0 -3em 0.4em white inset; */
/* }
.shadwo-inset-white::after {
  box-shadow: 0 -3em 0.4em white inset;
  z-index: 50;
} */
/* BLOG */
.shadow-inset-white {
  position: relative;
  overflow: hidden;
}

.shadow-inset-white::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 -6.5em 3em -3em white inset;
  pointer-events: none;
}

.text-shadow-white {
  text-shadow: 0 0 20px white, 0 0 3px black;
  /* background-color: rgba(255, 255, 255, 0.372); */
}

.comment-modal-shadow {
  box-shadow: 0 0 .6em gray;
}

/* SLIDER */


.slider-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 150px;
  position: relative;
  margin-top: 70px;
  margin-bottom: 200px;
  width: 100%;
  box-shadow: 0 0 1em 1.5em white inset;
}

.slider {
  position: absolute;
  width: 10000px;
  display: flex;
  align-items: center;
  gap: 40px;
  animation: slide 160s linear infinite;
  z-index: -1;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

